//Universal selector

* {
    box-sizing: border-box;
}

//font styles
h1,h2,h3 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

p, a {
    font-family: Verdana, sans-serif;
}
a {
    color: $lightPink;
    &:hover {
        color: $medPink;
    }
    &:visited {
        color: $darkPink;
    }
}

//set width for div #root
//#root will be centered and have a max-width of 630px
body {
    @include flexBox(column, center, center);
    //overflow: hidden;
}

#root {
    padding: 5px;
    @include mq('emailW') {
        width: 630px;
        border: 2px solid #ccc;
    }
}

/*====================
        HEADER
====================*/
header {
    img {
        @include blockCenter;
        max-width: 60%;
        @include mq('emailW') {
            max-width: 80%;
        }
    }
}

/*====================
        MAIN
====================*/
main p {
    font-size: 1.1rem;
}
article {
    p {
        text-align: justify;
    }
}

#intro {
    margin: 0 15px;
}

#mkNews {
    padding: 15px 0;
}

.mkNewsArt {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    @include mq-max('emailW') {
        height: 250px;
        max-width: 350px;
        margin: 1rem auto;    
    }
    h3, p {
        background-color: rgba(255,255,255,0.5);
        text-align: center;
        margin: 0;
    }
    h3 {
        padding: 0.85rem 0;
    }
    p {
        position: absolute;
    }
    a {
        font-weight: 700;
    }
}

#social-media {
    @include flexBox(row, space-around, center);
    .fa {
        width: 40px;
        height: 40px;
        font-size: 25px;
        color: white;
        background-color: $lightPink;
        border-radius: 50%;
        text-decoration: none;

        &-instagram, &-linkedin {
            padding: 8px 9px;
        }
        &-facebook {
            padding: 8px 12px;
        }
        &-external-link {
            padding: 10px 9px;
        }
    }
}

/*====================
        FOOTER
====================*/
footer {
    padding: 0 30px;
    font-size: 0.85rem;
    text-align: justify;
}