@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600,700|Open+Sans+Condensed:300,400,700&display=swap');

//colors
$darkPink: #FF1493;
$medPink: lighten($darkPink, 10%);
$lightPink: lighten($darkPink, 15%);


// fonts
$josefin-slab: 'Josefin Slab', sans-serif;
$open-sans-con: 'Open Sans Condensed', sans-serif;

//Header variables
$menu-width: 250px!default;


//breakpoint values
$breakpoints: (
    'sm': 450px,
    'emailW': 650px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1200px
);